<section class="flex flex-row justify-between">

  <div class="logo text-xl">
    My Logo
  </div>

  <div class="footer-links footer-links flex flex-row gap-20">
    <div class="column">
      <ul class="flex flex-col gap-4 text-gray-500">
        <li class="text-white">Company</li>
        <li>About</li>
        <li>Careers</li>
      </ul>
    </div>
     <div class="column">
      <ul class="flex flex-col gap-4 text-gray-500">
        <li class="text-white">Company</li>
        <li>About</li>
        <li>Careers</li>
      </ul>
    </div>
     <div class="column">
      <ul class="flex flex-col gap-4 text-gray-500">
        <li class="text-white">Company</li>
        <li>About</li>
        <li>Careers</li>
      </ul>
    </div>
  </div>

</section>

<section>
  <p class="text-sm text-gray-500 py-5 pb-[5rem] border-t border-solid border-gray-800">Copyright © 2023. All rights reserved</p>
</section>